@model UserViewModel
@{ 
    ViewBag.Title = "ASP.NET Core MVC";
}
<h2>I'm in View page</h2>
<p>@Greeter.Greet(@Model.Firstname, @Model.Surname)</p>
@section footer{
    <h3>I'm in footer section</h3>
}

@*@section links{
    <a href="http://tahir-naushad.com" target="_blank">Blog</a>
}*@